<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Code Reaction</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css" media="screen" />
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="/Users/users.js"></script>
    <script src="/Tools/Tools.js"></script>
    <script src="/Scripts/moment.min.js"></script>
    
    <div id="vue" class="wrapper" v-cloak>
        <div class="header">
            <div class="title">CODE REACTION</div>
            <nav>
                <ul class="nav nav-tabs">
                    <li><a href="/Commits/commits.html">Commits</a></li>
                    <li><a href="/Commits/followups.html">My follow-ups</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <div id="detailPanel2">
                <div id="insertPoint">
                    <div class="commit-item2" >
                        <commit-details v-bind:commit="Commit" ></commit-details>
                        <commit-actions v-bind:commit="Commit" v-on:add-comment="openCommentDialog"></commit-actions>

                    </div>

                    <div class="review-line">
                        <comment-block v-for="commitComment in Commit.CommitComments" v-bind:Comment="commitComment"></comment-block>
                        <new-comment-block v-bind:show="showEditor" v-on:posted-new-comment="postedNewComment" v-on:new-comment-cancelled="cancelledNewComment"></new-comment-block>
                    </div>
                    <div class="revision-table-wrapper">
                        <file-block v-for="fileReview in Commit.Files" v-bind:file="fileReview"></file-block>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer"><comment-nav></comment-nav></div>
    </div>

    <script>
        var BUS = new Vue();
    </script>

    <script src="/Review/comments.js"></script>
    <script src="/Review/comment-nav.js"></script>
    <script src="/Review/commit-actions.js"></script>
    <script src="/Review/commit-info.js"></script>
    <script src="/Review/line-actions.js"></script>
    <script src="/Review/code-line.js"></script>
    <script src="/Review/file-block.js"></script>
    <script src="/Review/review.js"></script>

</body>
</html>

