<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Code Reaction</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css" media="screen" />
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="../Scripts/moment.min.js"></script>

    <script src="/Users/users.js"></script>
    <script src="/Tools/Tools.js"></script>

    <nav>
        <div class="header">
            <div class="title">CODE REACTION BY VUE!!!!</div>
        </div>
        <ul class="nav nav-tabs">
            <li><a href="/Commits/commits.html">Commits</a></li>
            <li><a href="/Followups/followups.html">My follow-ups</a></li>
        </ul>
    </nav>
    <div id="vue">
        <div id="container">
            <div id="detailPanel2">
                <span id="line-hover-panel" class="line-hover-out">
                    <button class="btn btn-primary btn-xs" onclick="addNewCommentBox(event)">+</button>
                </span>
                <div id="insertPoint">
                    <div id="file-comments" data-revision="41648" v-for="d in CommitComments" class="review-line" >
                        <comment-block v-bind:Comment="d"></comment-block>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button id="PreviousComment" class="btn btn-primary">
                <i class="fa fa-chevron-up"></i>
            </button>
            <button id="NextComment" class="btn btn-primary">
                <i class="fa fa-chevron-down"></i>
            </button>
        </div>
    </div>
        <script src="/Users/users.js"></script>
        <script src="/Tools/Tools.js"></script>
        <!--<script src="/RevisionDetail/RevisionDetail.js"></script>-->
        <script>
            var comment = {
                props: ['Comment'],
                name: "comment-block",
                methods: {
                    addReply: function(comment) {
                        alert(comment.Id);
                    }
                },
                template: 
                    '<div class="comments-block comments-block-outer">' +
                        '<div class="comments-author">' +
                            '<span>{{Comment.Author}}</span><button class="btn btn-link btn-xs" v-on:click="addReply(Comment)">Reply</button>' +
                            '<span class="comments-when"></span>' +
                        '</div>' +
                        '<div class="comments-text">{{Comment.Message}}</div>' +
                        '<comment-block v-for="reply in Comment.Replies" v-bind:Comment="reply" ></comment-block>' +
                    '</div>',
            };

            var app = new Vue({
                el: "#vue",
                data: { Revision: 12345678,
                    CommitComments: [
                            { Id: 1, Author: 'tcarter', Message: 'lookin good', Replies : [{Id:11, Author:'replyfrom', Message: 'bad', Replies:[]}] },
                            { Id: 2, Author: 'def', Message: 'not great', Replies: [] }
                ],
                    FileData : {}
                },

                components : { 'comment-block': comment },

                //methods: {
                //    addReply: function (comment) {
                //        alert(comment.Id);
                //    }
                //}

                //            // emit new data here
                //            this.$emit('replyAdded', {Comment: comment, Reply :{ Id: 1111, Author: 'replyto', Message: 'replymessage' }});
                //            //comment.Replies.add()
                //            //var replyIndx = app.$data.CommitComments.findIndex(c => c.Id === id);
                //            //app.$data.CommitComments.splice(replyIndx+1, 0, );
                //           // app.$data.CommitComments.push({ Author: 'reply', Message: 'a reply' });
                //        },

                //        onReplyAdded: function (reply) {
                //            alert(reply.Reply.Message);
                //            reply.Comment.Replies.push(reply.Reply);
                //        }
                //    }

                
            });
        </script>
</body>
</html>

