<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Code Reaction</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css" media="screen" />
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="Scripts/moment.min.js"></script>

    <script src="/Users/users.js"></script>
    <script src="/Tools/Tools.js"></script>
    <script src="/Scripts/moment.min.js"></script>

    <nav>
        <div class="header">
            <div class="title">CODE REACTION BY VUE!!!!</div>
        </div>
        <ul class="nav nav-tabs">
            <li><a href="/Commits/commits.html">Commits</a></li>
            <li><a href="/Followups/followups.html">My follow-ups</a></li>
        </ul>
    </nav>
    <div id="vue">
        <div id="container">
            <div id="detailPanel2">
                <div id="insertPoint">
                    <div class="commit-item2">
                        <commit-details v-bind:commit="Commit"></commit-details>
                        <commit-actions v-bind:commit="Commit" v-on:add-comment="openCommentDialog" ></commit-actions>
                    </div>
                    <div id="file-comments" class="review-line">
                        <comment-block v-for="commitComment in Commit.CommitComments" v-bind:Comment="commitComment"></comment-block>
                        <new-comment-block v-bind:show="showEditor" v-on:posted-new-comment="postedNewComment" v-on:new-comment-cancelled="cancelledNewComment" ></new-comment-block>
                    </div>

                    <div class="revision-table-wrapper">
                        <file-block v-for="fileReview in Commit.Files" v-bind:file="fileReview"></file-block>
                    </div>
                 </div>
            </div>
        </div>
        <div class="text-center">
            <button id="PreviousComment" class="btn btn-primary">
                <i class="fa fa-chevron-up"></i>
            </button>
            <button id="NextComment" class="btn btn-primary">
                <i class="fa fa-chevron-down"></i>
            </button>
        </div>
    </div>
        <script src="/Users/users.js"></script>
        <script src="/Tools/Tools.js"></script>
        <!--<script src="/RevisionDetail/RevisionDetail.js"></script>-->
        <script>

            var BUS = new Vue();

            /*
            ** Component for creating a new comment or reply
            ** Events
            **   new-comment-cancelled : editor closed without action
            **   posted-new-comment : comment posted
            */

            var newComment = {
                props: ['show'],
                name: 'new-comment-block',
                data: function () {
                    return { Id: -1, ReplyToId: '', Message: '' };
                },
                template:
                    '<div v-if="show" class="comments-block comments-block-new">' +
                        '<textarea class="comments-box "v-model="Message"></textarea>' +
                            '<button class="btn btn-default btn-xs button-cancel" v-on:click="newCommentCancelled">Cancel</button>' +
                            '<button class="btn btn-success btn-xs button-ok" v-on:click="postNewComment">Post</button>' +
                            '<div class="actionBar"></div>' +
                    '</div>',

                methods: {

                    newCommentCancelled : function() {
                        this.Message = null;
                        this.$emit("new-comment-cancelled");
                    },

                    postNewComment: function () {
                        if (this.Message) {
                            this.$emit("posted-new-comment", this.Message);
                        }
                    },
                }
            };

            /*
            ** component for displaying an existing comment and handling actions
            */
            var comment = {
                props: ['Comment'],
                name: 'comment-block',

                data() { return { showEditor: false }; },

                methods: {
                    addReply: function () {
                        this.showEditor = true;
                    },

                    postedReply: function (message) {

                        BUS.$emit("posted-reply", { Comment: this.Comment, Message: message });
                        this.showEditor = false;

                    },

                    cancelReply: function () {
                        this.showEditor = false;
                    }
                },
                components: { 'new-comment-block': newComment },
                template:
                    '<div v-if="Comment.Id >= 0" class="comments-block comments-block-outer">' +
                        '<div class="comments-author">' +
                            '<span>{{Comment.Author}}</span><button class="btn btn-link btn-xs" v-on:click="addReply()">Reply</button>' +
                            '<span class="comments-when"></span>' +
                        '</div>' +
                        '<div class="comments-text">{{Comment.Text}}</div>' +
                        '<new-comment-block v-bind:show="showEditor" v-on:posted-new-comment="postedReply" v-on:new-comment-cancelled="cancelReply"/>' +
                        '<comment-block v-for="reply in Comment.Replies" v-bind:Comment="reply" v-on:posted-new-comment="postedReply" ></comment-block>' +
                    '</div>'
            };

            /*
            ** Tool box component to display review state and actions for currently viewed commit
            */

            var commitActions = {
                name: 'commit-actions',
                props: ['Commit'],
                //data: function () { return {} },
                template:
                    '<div class="commit-actions2">' +
                        '<span v-if="Commit.ApprovedBy" class="label label-success"><i class="fa fa-check-circle"></i> Approved by {{Commit.ApprovedBy}}</span>' +
                        '<div v-else>' +
                            '<button v-if="Commit.Author != getUsername()"  class="btn btn-success button-ok" v-on:click="approveCommit">Approve</button>' +
                            '<button class="btn btn-success button-ok" v-on:click="newComment">Add comment</button>' +
                        '</div>' +
                    '</div>',
                methods: {
                    approveCommit: function () {
                        BUS.$emit('approve-commit', this.Commit);
                    },
                    newComment: function () {
                        this.$emit("add-comment");
                        //BUS.$emit('new-commit-comment', this.Commit);
                    },
                },
            };

            /*
            ** Component displaying commit information : Log, Author, ...
            */

            var commitInfo = {
                name: 'commit-details',
                props: ['commit'],
                //data: function () { return {} },
                components : {'commit-actions' : commitActions },
                template:
                    '<div class="commit-title2">{{commit.Message}}' +
                        '<div class="commit-subtitle">' +
                            '<span>Revision: {{commit.Revision}} {{timeAgo}} by {{commit.Author}}</span>' +
                        '</div>' +
                    '</div>',
                computed: {
                    timeAgo: function () {
                        if (this.commit.Timestamp) {
                            return moment(this.commit.Timestamp).fromNow();
                        }
                    }
                }
            };

            /*
            ** Component code-line_actions
            */
            var lineActions = {
                name: 'code-line-actions',
                data: function () { return {}; },
                template:
                    '<span id="line-hover-panel" class="line-hover-in">' +
                        '<button class="btn btn-primary btn-xs" v-on:click="addComment">+</button>' +
                    '</span>',
                methods: {
                    addComment: function () {
                        this.$emit('add-comment');
                    }
                }
            };

            /*
            ** Component code-line
            */
            var codeLine = {
                props: ['line'],
                name: 'code-line',
                data: function () { return { showActions: false, showEditor: false }; },
                components: { 'code-line-actions': lineActions, 'comment-block' : comment, 'new-comment-block' : newComment },
                computed : {
                    getSymbol: function () {
                        if ( this.line.ChangeState === 'added') return '+';
                        if ( this.line.ChangeState === 'removed') return '-';
                        return '';
                    },

                    getStateClass: function () {
                        return 'state-' + this.line.ChangeState;
                    },

                    isBreak: function () {
                        return this.line.ChangeState === 'Break';
                    }
                },

                methods: {
                    onMouseOver: function () {
                        this.showActions = true;
                    },

                    onMouseLeave: function () {
                        this.showActions = false;
                    },

                    openCommentDialog: function () {
                        this.showEditor = true;
                    },
                   

                    postedNewComment: function (message) {
                        BUS.$emit('new-code-comment', { Line: this.line, Text: message });
                        this.showEditor = false;
                    },

                    cancelledNewComment: function () {
                        this.showEditor = false;
                    },
                },

                template:
                    '<tr v-if="isBreak" class="revision-line state-break"><td colspan="4" class="revision-line-text">-- non-modified  --</td></tr>' +
                    '<tr v-else class="revision-line" v-bind:class="getStateClass" data-revision="39238" data-file="testfile" data-line="76_76"  v-on:mouseover="onMouseOver" v-on:mouseleave="onMouseLeave">' +
                        '<td class="revision-line-number" v-bind:class="getStateClass">{{line.RemovedLineNumber}}</td>' +
                        '<td class="revision-line-number" v-bind:class="getStateClass">{{line.AddedLineNumber}}</td>' +
                        '<td class="revision-line-state">' +
                            '<code-line-actions v-if="showActions" v-bind:showActions="showActions" v-on:add-comment="openCommentDialog" ></code-line-actions>' +
                            '{{getSymbol}}' +
                        '</td>' +
                        '<td class="revision-line-text">{{line.Text}}' +
                            '<comment-block  v-for="lineComment in line.Comments" v-bind:Comment="lineComment" ></comment-block>' +
                             '<new-comment-block v-bind:show="showEditor" v-on:posted-new-comment="postedNewComment" v-on:new-comment-cancelled="cancelledNewComment" />' +
                        '</td>' +
                     '</tr>'
            };

            /*
            ** Comment template for modifications to an individual 
            */

            var fileBlock = {
                props: ['file'],
                name: 'file-block',
                //data: function () { return {}; },
                components : {'code-line' : codeLine },
                template:
                    '<div>' +
                    '<div class="file-header">' + 
                        '<button class="button-expand">+</button>' +
                        '<span class="label-change-type">{{file.ChangeType}}</span>' +
                        '<span>{{file.Name}}</span>' +
                    '</div>' +
                    '<table class="revision-file-table">' + 
                        '<tbody>' + 
                            '<code-line v-for="line in file.Lines" v-bind:line="line"></code-line>' +
                        '</tbody>' +
                    '</table></div>'
            };

            

            var app = new Vue({
                el: "#vue",
                data: function () {
                    return {
                        showEditor: false,
                        Commit: {}

                    };
                },

                components: {
                    'comment-block': comment,
                    'file-block': fileBlock,
                    'new-comment-block': newComment,
                    'commit-details': commitInfo,
                    'commit-actions': commitActions
                },

                methods: {
                    refreshPage: function (event) {

                        var revision = getParameterByName('revision');
                        var uri = 'api/commits/revision2/' + revision;

                        $.getJSON(uri)
                            .done(function (data) {
                                app.$data.Commit = data;
                            });
                    },


                    timeAgo : function( aMoment ) {
                        if (aMoment)
                            return moment(aMoment).fromNow();
                    },

                    openCommentDialog : function() {
                        this.showEditor = true;
                    },

                    closeCommentDialog : function() {
                        this.showEditor = false;
                    },

                    postedNewComment: function (message) {
                        var comment = { Id: 1, Author: getUsername(), Text: message, Replies: [] };
                        this.closeCommentDialog();

                        var commit = this.$data.Commit;
                        commit.CommitComments.push(comment);
                        uri = 'api/commits/comment/' + comment.Author + '/' + commit.Revision + "?comment=" + encodeURIComponent(comment.Text);
                        $.post(uri)
                            .done(function (data) {
                                var temp = commit.CommitComments[commit.CommitComments.length - 1];
                                temp.Id = data;
                                commit.CommitComments[commit.CommitComments.length - 1] = temp;
                            });
                    },

                    cancelledNewComment : function() {
                        this.closeCommentDialog();
                    },

                    //newCommitComment : function() {
                    //    alert('comment....');
                    //},

                    approveCommit: function (event) {
                        var commit = event;

                        var approver = getUsername();

                        var uri = 'api/commits/approve/' + commit.Revision + '/' + approver;
                        $.post(uri)
                            .done(function () {
                                commit.ApprovedBy = approver;
                            });
                    },

                    //postCommitComment : function(event) {
                    //    var commit = event
                    //},

                    postCodeComment : function (event) {
                        var line = event.Line;
                        line.Comments.push({ Id: 1, File: line.File, LineId: line.Id, Replies: [], Text: event.Text, Revision : line.Revision });

                        var uri = 'api/commits/comment/' + getUsername() + '/' + line.Revision + '/' + line.Id + "?comment=" + encodeURIComponent(event.Text) + "&file=" + encodeURIComponent(line.File);

                        var temp = { Id: 1, Author: getUsername(), Text: event.Text, Replies: [] };

                        this.showEditor = false;

                        $.post(uri)
                            .done(function (data) {
                                var temp = line.Comments[line.Comments.length - 1];
                                temp.Id = data;
                                line.Comments[line.Comments.length - 1] = temp;
                            });
                    },

                    postReply: function (event) {

                        var comment = event.Comment;
                        comment.Replies.push({ Id: 1, Text: event.Message, Replies: [], ReplyToId: comment.Id })

                        var uri = '/api/commits/reply/' + event.Comment.Id + '/' + getUsername() + '?comment=' + encodeURIComponent(event.Message);

                        $.post(uri, function (data) {
                            var temp = comment.Replies[comment.Replies.length - 1];
                            temp.Id = data;
                            comment.Replies[comment.Replies.length - 1] = temp;
                        });
                    }
                },

                mounted: function () {
                    this.refreshPage();
                },

                created: function () {
                    BUS.$on("new-code-comment", this.postCodeComment);
                    BUS.$on("posted-reply", this.postReply);
                    BUS.$on("approve-commit", this.approveCommit);
                    //BUS.$on("new-commit-comment", this.postCommitComment);
                }

            });
        </script>
</body>
</html>

