body,
html {
    margin:0;
    padding:0;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    height:100%;
    overflow:hidden;
}

thead, tbody, tfoot { 
    vertical-align: top
} 
td, th, tr { 
    vertical-align: inherit 
} 

.actionBar {
    clear: both;
}

.header {
    background-color:#313131;
    color:#ffffff;
}

.header .title {
    font-size: 1.5em;
    padding-bottom: .5em;
    padding-left:.5em;
    color:#4ce008;
}

.nav {
    padding-left: 1em;
    font-size:1em;
    background-color:#313131;
    color:#ffffff;
}

.nav>li>a {
    position:relative;
    display: block;
    padding: 5px 10px;
    color:#efefef;
}

.nav>li>a:hover {
    color:#555;
}

#container {
    position:relative;
    min-width:92%;
    height:88%;
    padding-top:2em;
}

#container-commits {
    position:relative;
    min-width:92%;
    height:80%;
}

#commitPanel {
    float:left;
    width:300px;
    background-color:#eeeeee;
    overflow-y:auto;
    overflow-x:hidden;
    position:absolute;
    bottom:0;
    top:0;
    height:92%

}
#detailPanel {
    background-color:#ffffff;
    padding: 2%;
    bottom:0;
    overflow-y:auto;
    overflow-x:auto;
    position:relative;
    bottom:0;
    height:88%

}

#detailPanel2 {
    background-color:#ffffff;
    padding-left: 2%;
    padding-right: 2%;
    overflow-y:auto;
    overflow-x:auto;
    position:relative;
    height:96%
}

#footer {
    clear:both;
}

#criteriaPanel {
    margin-top:1em;
    margin-left: 2em;
    margin-right: 2em;
    border : 1px solid #CCC8C7;
    padding: 1em;
    position:relative;
}

.commit-list2 {
    margin: 2em;
    padding: 1em;
    overflow-y:scroll !important;
}

.commit-title2 {
    font-size: 1em;
    font-weight:bolder;
    white-space:pre-wrap;
    width:50%;
    float:left;    
}

.commit-item2 {
    padding-top:0.5em;
}

.commit-item2:hover {
    cursor: pointer;
}

.commit-annotation-summary {
    padding:1em;
    float:left;
    width:25%;
    text-align:right;
}

.label {
    font-size: .9em;
}

.commit-actions2 {
    padding:1em;
    float:left;
    width:25%;
    text-align:right;
}

.commit-item-footer {
    clear:both;
    border-bottom: 1px solid #CCC8C7;
    padding-bottom:1em;
}

.commit-list {
    list-style-type: none;
}
.commit {
    border-bottom: 1px solid #888888;
    padding: 0.5em;
}

.commit-message {
    font-size: 0.8em;
}

.commit-item {
    padding: 0.25em;
    height: 4em;
    overflow:hidden;
}

.commit-title {
    font-size:1.2em;
    font-weight:bold;
}

.commit-subtitle {
    font-size:0.85em;
    color:#808080;
    font-weight:normal;
}

.revision-table-wrapper {
    overflow-x:auto;
    overflow-y:hidden;
    padding:0;
    clear:both;
    margin-bottom:.5em;
}
.revision-file-table {
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    vertical-align:top;
    width:100%;
    border: 1px solid #cac4c4;
    margin-top:0;
    padding:0;
}

.file-header, .modal-header {
    padding:0.3em;
    background-color:#dfeef3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.file-header {
    margin-top:2em;border: 1px solid #cac4c4;
}

.revision-file-header {
    background-color:#CCC8C7;
    border-bottom: 1px solid #cac4c4;
}
.revision-line:hover, .comments-line:hover {
    cursor: pointer;
    background-color:#efefef;
}

.revision-line-text, .revision-line-number, .revision-line-state {
    font-family: DroidSansMono, Monospace, Consolas, Courier;
    font-size: 0.85em;
}

.revision-line-text {
    white-space:pre-wrap;
}

.revision-line-number {
    display:table-cell;
    text-align: center;
    color:#808080;
    width:48px;
    border-left: 1px solid #cac4c4;
    border-right: 1px solid #cac4c4;
}

.likeable:hover {
    background-color: red;
    cursor:pointer;
}

.revision-line-state {
    width:4%;
    border-right: 1px solid transparent;
}

.state-added {
    background-color: rgba(163, 255, 133, 0.33);
}

.state-removed {
    background-color: rgba(255, 194, 178, 0.33);
}

.state-break {
    text-align:center;
    background-color:#fefefe;
    border-top: 1px solid #cac4c4;
    border-bottom: 1px solid #cac4c4;
    color:#cac4c4;
    font-style: italic;
}

.state-break:hover { 
    cursor:default; 
    background-color: inherit;
}

.revision-line-liked {
    color: #808080;
}

.review-line {
    border-top: 1px solid #cac4c4;
    padding-left:4em;
    padding-top:.5em;
    clear:both;
}

.comments-box {
    resize:vertical;
    width:100%;
    min-height:5em;
    display:block;
    margin-bottom:.8em;
    background-color: #fff;
    border: 1px solid #cac4c4;
}

.comments-block{
    margin-top:.5em;
    margin-left:2em;
    background-color: #fff;
    border: none;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-bottom:.5em;
}

.revision-line-text > .comments-block {
    font-size:1.18em;
    margin-left:8em;
    background-color: #fff;
}

.comments-block-outer {
    max-width: 75%;
    border: 1px solid #cac4c4;
}

.comments-block-new {
    border: none;   
    background-color: #fff;
}

.comments-author {
    font-size : .95em;
    font-weight:bold;
    color:#808080;
    background-color: #fff;
    padding: .2em;
    background-color: #eeeeee;
    border:1px solid #CCC8C7;
    border-right:none;
}

.comments-block-outer > .comments-author {
    border: 0;
    border-bottom: 1px solid #cac4c4;
}

.comments-text {
    white-space:pre-wrap;
    padding:.2em;
    font-size : 1em;
    background-color: #fff;
}

.button-bar {
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}

.button-ok, .button-cancel, .button-reply {
    float:right;
    margin-right: 1em;
}

.button-expand {
    margin-right: .5em;
}

.label-change-type {
    margin-left:.2em;
    margin-right:.2em;
    float:right;
}

.dialog {
    position:absolute;
    width: 50%;
    height:50%;
    z-index:1;
    border:2px solid #888888;
    background-color: #DDDDDD;
    top:0;
}

.modal-header {
    background-color:#dfeef3;
}

.line-hover-in, .line-hover-out {
    position:absolute;
    margin-left: 8px; 
}

.line-hover-out {
    display:none;
}

.line-hover-in {
    display:block;
}
